<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        verbose="true">
    <testsuite name="Nuacom">
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="tests/coverage"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>